.p-shade{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(45,45,45,0.5);
  display: none;
}
.p-shade .p-dialog{
  width: 400px;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 40%;
  top: 20%;
  z-index: 99999;
}
.p-shade .p-dialog .p-header{
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  font-family: '微软雅黑';
  border-bottom: 1px solid #e4e4e4;
}
.p-shade .p-dialog .p-header .close{
  float: right;
  cursor: pointer;
}

.p-shade .p-dialog .p-body{
  width: 100%;
  min-height: 300px;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
}
.p-shade .p-dialog .p-foot{
  width: 100%;
  height: 30px;
  line-height: 30px;s
  padding:0 10px 0 0;
}
.p-shade .p-dialog .p-foot a{
  float: right;
}